.navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    column-gap: 20px;
  }
  
  .link {
    position: relative; /* Added */
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  
  .link::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Adjusted to avoid overlap with text */
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(254, 208, 73); /* Change the color as needed */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  
  .link:hover::after {
    width: 100%;
    left: 0;
  }
  